#presenter.carousel.slide{ data: { ride: "carousel" , wrap: 'false', interval: 'false'}}
  .carousel-inner{role: 'listbox'}
    .item.active#select
      .container
        .carousel_body
          #get_size
            = create_or_update_size
    .item#configure
      .carousel_body
        .ingredient_list{ data: { offset: 0,  target: "#ingredient_nav" , spy: "scroll" , ref: api_add_ingredient_path }}
          - @ingredients.each_with_index do |( key, list ), index|
            - id = key.downcase.gsub(%r{\s+},'_')
            .container-fluid.gap
              .row
                .col-lg-3.col-md-4.col-sm-6.col-xs-12.well.header{ id: id , class: ( index == 0 ? 'selected' : '')}
                  = link_to(key, '#')
                - list.each do |ingredient|
                  .col-lg-3.col-md-4.col-sm-6.col-xs-12{ class: ingredient.tags.join(' ') }
                    = generate_ingredient_link(ingredient, index > 0 )
    .item#checkout
      .carousel_body
        #summary
          %em.small
            Alle Kosten sind inklusive 2.5% Mehrwertsteuer
          .pull-right
            = link_to((content_tag(:span, class: 'glyphicon glyphicon-plus-sign' ){} + ' eine weitere Pizza hinzufügen').html_safe, '#', class: 'sec_link')
        = render partial: 'address_form'
    %ol.nav.nav-pills.nav-justified.carousel-indicators
      %li.active{ data: { target: '#presenter', slide: { to: '0' }}}
        = link_to("Grösse<br/><span id='pizza_size', class='badge'>#{ current_pizza ? t(current_pizza.size) : '?' }</span>".html_safe, '#' )
      %li{ configure_links_to }
        = link_to("Zutaten<br/><span id='addon_collector' class='badge'>#{ current_pizza ? current_pizza.pizza_items.count - Ingredient.default.count : 0 }</span>".html_safe, '#' )
      %li{ checkout_links_to }
        = link_to('Kasse<br/><span id="pizza_price", class="badge">0.00 CHF</span>'.html_safe, '#')

