#presenter.carousel.slide{ data: { ride: "carousel" , wrap: 'false', interval: 'false'}}
  .carousel-inner{role: 'listbox'}
    .item.active#select
      .container
        .carousel_body
          #get_size
            = create_or_update_size
    .item#configure
      .carousel_body
        .container-fluid
          %ul.nav.nav-tabs#ingredient_selector
            - @ingredients.keys.reverse.each_with_index do |key, index|
              %li{ role: 'presentation', class: ( index == 0 ? 'active' : '') }= link_to(key, '#', data: { ref: key_identifier(key) })
        .container-fluid.gap
          .ingredient_list{ data: { offset: 0,  target: "#ingredient_nav" }}
            .row
              = customize_boxes
          %ul#purchased_items
            - if current_pizza.present?
              - current_pizza.pizza_items.each do |item|
                - if item.ingredient.is_default
                  %li
                    %p= [content_tag(:b){item.ingredient.name}, '<br/>', content_tag(:small){item.ingredient.category}].join().html_safe
                - else
                  %li{ data: { category: key_identifier( item.ingredient.category ), sibling: item.ingredient.sibling } }
                    = link_to( [content_tag(:span, class: 'glyphicon glyphicon-remove-circle'){} , content_tag(:b){item.ingredient.name}, '<br/>', content_tag(:small){item.ingredient.category}].join().html_safe , '#' )
    .item#checkout
      .carousel_body
        .container
          #summary.col-md-6.col-lg-6.col-sm-6.col-xs-6
            %em.small
              Alle Kosten sind inklusive 2.5% Mehrwertsteuer
            .pull-right
              = link_to((content_tag(:span, class: 'glyphicon glyphicon-plus-sign' ){} + ' eine weitere Pizza hinzufügen').html_safe, '#', class: 'sec_link')
          #form.col-md-6.col-lg-6.col-sm-6.col-xs-6
            = render partial: 'address_form'
    %ol.nav.nav-pills.nav-justified.carousel-indicators
      %li.active{ data: { target: '#presenter', slide: { to: '0' }}}
        = link_to("Grösse<br/><span id='pizza_size', class='badge'>#{ current_pizza ? t(current_pizza.size) : '?' }</span>".html_safe, '#' )
      %li{ configure_links_to }
        = link_to("Zutaten<br/><span id='addon_collector' class='badge'>#{ current_pizza ? current_pizza.pizza_items.count - Ingredient.default.count : 0 }</span>".html_safe, '#' )
      %li{ checkout_links_to }
        = link_to("Kasse<br/><span id='pizza_price', class='badge'>#{ current_pizza ? number_to_currency(current_pizza.total) : 'CHF 0.00'}</span>".html_safe, '#')
  %ul#finalize.nav.nav-bar
    %li= link_to('<span class="glyphicon glyphicon-remove-circle"></span> Bestellung stornieren'.html_safe, reset_path, method: :delete, class: @order.created? ? '' : 'hidden')
